/* General Styles */
body {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes the full height */
}

header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
}

h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

/* Navigation Bar */
nav ul {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 100px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

/* Main Section */
main {
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #000000;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 90%; /* Fluid width to be responsive */
    color: #FFFFFF;
    margin: 0 auto;
    flex-wrap: wrap;
}

.text {
    width: 50%;
    padding-right: 20px;
}

.image {
    width: 250px; /* Fixed width for the image */
    height: 250px; /* Ensures it stays square */
    border: 1.7px solid #FFFFFF;
    border-radius: 50%;
    object-fit: cover; /* Keeps image inside the circle */
}

/* Target the third image specifically */
.image3wef {
    width: 250px; /* Adjust the size to fit the logo better */
    height: 250px; /* Ensure the image remains square */
    border-radius: 50%;
    object-fit: contain; /* 'contain' ensures the whole logo fits inside the circle */
    background-color: #FFFFFF; /* Optional: add a background color if the logo has transparency */
}

.image3gs {
    width: 250px; /* Adjust the size to fit the logo better */
    height: 250px; /* Ensure the image remains square */
    background-color: #FFFFFF;
    border-radius: 50%;
    object-fit: contain; /* 'contain' ensures the whole logo fits inside the circle */
    background-color: #FFFFFF; /* Optional: add a background color if the logo has transparency */
}


/* Footer */
footer {
    background-color: #000000;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100%;
}

